/* Additional CSS for jobcard */
.jobcard {
  width: 50%;
  height: 150px;
  background: #f9f5f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Align content horizontally to the center */
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in-out;
  margin: 10px;
}


.jobcard:hover {
  /* Increase the box shadow on hover to give a lifting effect */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
}

.jobcard img {
  /* Add a box shadow to the image to make it stand out */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  /* Add a transition for the box shadow when hovering */
  transition: box-shadow 0.2s ease-in-out;
}

.jobcard:hover img {
  /* Increase the box shadow on hover to give a lifting effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.textBox {
  /* Add a slight padding to the text box for better spacing */
  padding: 5px;
}

.jobcard textContent {
  /* Add a slight padding to the text content for better spacing */
  padding: 5px;
}

.jobcard span {
  /* Add a bit more space between the icon and text */
  margin-right: 5px;
}

.jobcard h1 {
  /* Increase the font size for better hierarchy */
  font-size: 18px;
}

.jobcard p {
  /* Adjust line height for better readability */
  line-height: 1.4;
}

/* Add a subtle hover effect on the text */
.jobcard:hover h1,
.jobcard:hover p {
  color: #b50000;
}

/* Add a border to the card on hover */
.jobcard:hover {
  border: 2px solid #9198e5;
}
