body{
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #6a0202, #bdc3c7); 
    background: linear-gradient(to right, #000000, #bdc3c7); 
}

.form{
    background-color: rgb(255, 255, 255);
    width: 550px;
    margin: 20px auto;
    border-radius: 15px;
}

.form-body{
    text-align: left;
    padding: 10px 10px;
    padding-top: 20px;
}

.form-body > *{
    padding: 3px;
}

.form__label{
    width: 60%;
}

.form_input{
    width: 40%;
}

.footer{
    text-align: center;
}

.btn{
    padding-left: 80px;
    padding-right: 80px;
}

.btn:hover{
    background-color: rgb(45, 107, 241);
    color: white;
}

.setFirstNameError{
    color: #fe0505;
}

.form_question{
    width: 200px;
}

.table{
    padding-left: 40px;
}







