body{
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #6a0202, #bdc3c7); 
    background: linear-gradient(to right, #000000, #bdc3c7); 
}

.form{
    background-color: rgb(255, 255, 255);
    width: 550px;
    margin: 20px auto;
    border-radius: 15px;
    padding-bottom: 20px;
    
    
}

.form-body{
    text-align: left;
    padding: 20px 10px;
    padding-bottom: 40px;
}

.form-body > *{
    padding: 8px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

.btn{
    padding-left: 80px;
    padding-right: 80px;
}

.btn:hover{
    background-color: rgb(45, 107, 241);
    color: white;
}






