body{
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #6a0202, #bdc3c7); 
    background: linear-gradient(to right, #000000, #bdc3c7); 
}

.form{
    background-color: rgb(123, 28, 28);
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.5em rgb(248, 248, 248);
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}